In [5]:
import pandas as pd

In [6]:
data = pd.read_excel('./Students1.xlsx')

In [9]:
data

          Field      Number
0      Business      200321
1         Comnu     1465416
2           Edu    16516163
3      Engineer        1631
4          Fine      231613
5         Human     1651631
6       English  1521301654
7          Math      165130
8      Physical   154130354
9        Social    15641325
10        Other    21654130
11  Undecleared     5465464

In [11]:
num=data[data.Field=='Edu'].Number

In [12]:
print(num)

2    16516163
Name: Number, dtype: int64